# Ambientes
.env
*.pyc
__pycache__/
.venv/
venv/

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Spark
spark/logs/
/tmp/

# Docker volumes (não versionar dados)
*.db
*.sqlite

# Secrets
*.key
*.pem
secrets/

# OS
.DS_Store
Thumbs.db

# Mobile (React Native / Expo)
mobile/node_modules/
mobile/dist/
mobile/dist2/
mobile/.expo/
mobile/android/
mobile/ios/
mobile/.env

# API
api/__pycache__/

# Claude
.claude/
